body {
    font-family: Arial;
    background-color:rgb(60, 60, 60);
    color: white;
}

a {
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    
}

a:hover {
    background-color: orange;
    color: white;
}

.R {float:right;}
.L {float:left;}
section {overflow:auto;}
div {width:45%;}